*
  font-family: 'Fira Sans', sans-serif

#app
  height: 100%
  min-width: 1000px

.champion-icon
  >img
    width: 116% !important
    height: 116% !important
    margin: -8% !important

.ant-popover
  max-width: 350px
