meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(property="og:locale" content="pt-BR")
meta(property="og:type" content="website")
if config.favicon
  link(rel="icon" href=config.favicon type="image/x-icon")

if config.title
  title= config.title
  meta(property="og:title" content=config.title)
    
if config.description
  meta(name="description" content=config.description)
  meta(property="og:description" content=config.description)

if config.ogimage
  meta(property="og:image" content=config.ogimage)
  meta(property="og:image:type" content="image/png")
  meta(property="og:image:width" content="1200")
  meta(property="og:image:height" content="630")

if config.twitter
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:site" content=config.twitter)
  meta(name="twitter:creator" content=config.twitter)

//- script(src="https://kit.fontawesome.com/3c0e5adec9.js")
script window.data = { assets: "#{config.assets}" };
script(src="/assets/js/bundle.js")

link(rel="stylesheet" href="/assets/css/bundle.css")
